name: Prebuild

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node: [16, 18, 20, 21, 22, 23]  # v25 제외, 안정 버전만
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}

      - run: npm install --ignore-scripts
      - run: npm run prebuild

      - uses: actions/upload-artifact@v3
        with:
          name: prebuilds
          path: prebuilds/
